<h1>Add a new client</h1>

<form action = "/add_client" method = "post">
  <div container = "form-control">
    <label for = "client_name">Enter the name of your new client</label>
    <input id = "client_name" name = "client_name" class = "form-control" type = "text">
  </div>
  <button type = "submit" class = "btn-success">Add</button>
</form>
