<h1>Add a new stylist</h1>

<form action = "/" method = "post">
  <div container = "form-control">
    <label for = "name">Enter the name of your new stylist</label>
    <input id = "name" name = "name" class = "form-control" type = "text">
  </div>
  <button type = "submit" class = "btn-success">Add</button>
</form>
